body {
    background: black;
    color: white;
    margin: 0px;
    font-family: "PT Sans", sans-serif;
}

section {
    background-color: rgb(184, 156, 213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 20px;
}

h1 {
    font-size: 40px
    
}
p {
    font-size: 20px;
}